<div class="bg-body-tertiary border">
  <div class="container">
    <ul class="d-flex mt-2 gap-5">
      <li class="me-2"><a href="" class="a"> Anasayfa</a></li>
      <li class="me-2"><a href="" class="a"> Hakkımızda</a></li>
      <li class="me-2"><a href="" class="a"> Sözleşmeler</a></li>
      <li class="me-2"><a href="" class="a"> İletişim</a></li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand me-5" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex w-75" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success w-50" type="submit">
          Search
        </button>
      </form>
      <button class="btn btn-success ms-auto m-2">Giriş Yap</button>
      <button class="btn btn-success">Sepetim</button>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item" *ngFor="let category of categories">
        <a
          [class]="getCurrentCategoryClass(category)"
          (click)="setCurrentCategory(category)"
          routerLink="/category/{{ category.id }}"
          >{{ category.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
