.active {
  color: green !important;
}
ul {
  list-style: none;
}
.a {
  text-decoration: none;
  color: black;
}
.a:hover {
  transition: all 0s;
  color: green;
}
.hover:hover {
  z-index: 2;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.menufix {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}
