.card {
  max-width: 300px;
  margin: 5px;
  text-align: center;
  font-family: arial;
  border: none;
  transition: all 0.9s;
}
.card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 75%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
