<div class="row">
  <div class="col-md-10">
    <form class="d-flex w-75 me-auto ms-auto mt-2" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="product"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="filterText"
      />
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col" *ngFor="let product of products | product : filterText">
        <!-- <div class="card" routerLink="/product/{{ product.id }}">
          <img
            src="{{ product.imgUrl }}"
            alt="Denim Jeans"
            class="p-3 w-75 me-auto ms-auto"
            style="height: 200px"
          />
          <h2>{{ product.brand }}</h2>
          <h1>{{ product.name }}</h1>

          <p class="price text-danger">
            {{ product.price | currency : "TRY" : "symbol-narrow" }}
          </p>
          <p>{{ product.description }}</p>
        </div> -->
        <div class="card">
          <img src="{{ product.imgUrl }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <tbody>
              <h5 class="card-title">
                {{ product.name }}
              </h5>
              <p class="price text-danger">
                {{ product.price | currency : "TRY" : "symbol-narrow" }}
              </p>
              <div class="rating mb-2"></div>
              <button
                class="card-button"
                routerLink="product/{{ product.id }}"
                href="#"
              >
                Detay
              </button>
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="container">
      <app-filter></app-filter>
    </div>
  </div>
</div>
