<app-dnavbar></app-dnavbar>

<div class="container">
  <button class="btn btn-success w-100" routerLink="/dash/brandaddd">
    Marka Ekle
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <th scope="row">{{ brand.id }}</th>
        <td>{{ brand.name }}</td>
        <td>
          <button
            class="btn btn-primary"
            routerLink="/brandupdate/{{ brand.id }}"
          >
            Güncelle
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete(brand)">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
