<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://www.instagram.com/uqur.m08"
        ><i class="bi bi-instagram"></i></a
      ><a href="https://wa.me/+9005347085707"><i class="bi bi-whatsapp"></i></a
      ><a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a
      ><a href="https://www.facebook.com/uqr08200"
        ><i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/ugurmeydanli/">
        <i class="bi bi-linkedin"></i
      ></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Anasayfa</a></li>
      <li class="list-inline-item"><a href="#">Hakkımızda</a></li>
      <li class="list-inline-item"><a href="#">İletişim</a></li>
      <li class="list-inline-item"><a href="#">Şartlar ve Koşullar</a></li>
      <li class="list-inline-item"><a href="#">Gizlilik Politikaları</a></li>
    </ul>
    <p class="copyright">Company Özbay İletişim © 2023</p>
    <p class="copyright">Tüm Hakları Saklıdır</p>
  </footer>
</div>
