<form [formGroup]="loginForm" class="card-body cardbody-color p-lg-5">
  <div class="text-center">
    <img
      src="https://www.webtekno.com/images/editor/default/0002/21/c5b853a9f50c43942f9ee06793aea701dbefdd87.jpeg"
      class="img-fluid profile-image-pic img-thumbnail rounded-5 my-3"
      width="200px"
      alt="profile"
    />
  </div>

  <div class="mb-3">
    <input
      type="text"
      formControlName="email"
      class="form-control"
      id="Username"
      aria-describedby="emailHelp"
      placeholder="Mail adresiniz"
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      formControlName="password"
      class="form-control"
      id="password"
      placeholder="Şifreniz"
    />
  </div>
  <div class="text-center">
    <button
      (click)="login()"
      type="submit"
      class="btn btn-color px-5 mb-5 w-100"
    >
      Giriş Yap
    </button>
  </div>
  <div id="emailHelp" class="form-text text-center mb-5 text-dark">
    Üye Değilmisin?
    <a href="#" class="text-dark fw-bold" routerLink="register">
      Hemen Hesap Oluştur</a
    >
  </div>
</form>
