<div class="container">
  <form [formGroup]="productAdd" *ngIf="productAdd">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="name"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Brand</label>
      <!-- <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="brand"
      /> -->
      <select
        class="form-select"
        formControlName="brand"
        name="brand"
        id="brand"
      >
        <option type="number" [value]="null" disabled hidden></option>
        <option type="number" [value]="brand.id" *ngFor="let brand of brands">
          {{ brand.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="price"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Kategory İd</label>
      <!-- <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="categoryId"
      /> -->
      <select
        class="form-select"
        formControlName="categoryId"
        name="brand"
        id="brand"
      >
        <option type="number" [value]="null" disabled hidden></option>
        <option
          type="number"
          [value]="categor.id"
          *ngFor="let categor of category"
        >
          {{ categor.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Rating</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="rating"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Kargo</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="cargo"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="description"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">İmg</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="imgUrl"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Stock</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="stock"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">State</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="state"
      />
    </div>

    <button type="submit" (click)="add()" class="btn btn-primary">Ekle</button>
  </form>
</div>
