<section id="home">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="col-md-12"><app-products></app-products></div>
      <!-- <div class="col-md-2">
      <h3>Yeni Ürünler</h3>
      <img
        src="https://cdn.akilliphone.com/img/2022-12/12/Banner-Mobil-182%20(1).png"
        alt=""
        class="w-100"
      />
    </div> -->
    </div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3 hover">
          <img
            src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2063.png"
            alt=""
            style="width: 300px; height: 230px"
            class="rounded-3"
          />
        </div>

        <div class="col-md-3 hover">
          <img
            src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2064.png"
            alt=""
            style="width: 300px; height: 230px"
            class="rounded-3"
          />
        </div>
        <div class="col-md-3 hover">
          <img
            src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2065.png"
            alt=""
            style="width: 300px; height: 230px"
            class="rounded-3"
          />
        </div>
        <div class="col-md-3 hover">
          <img
            src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2071.png"
            alt=""
            style="width: 300px; height: 230px"
            class="rounded-3"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<section id="about" class="mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img
          src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2071.png"
          alt=""
          style="width: 300px; height: 230px"
          class="rounded-3 mt-5"
        />
      </div>
      <div class="col-md-9">
        <h5 class="mt-5">Vizyon Ve Misyon</h5>
        <hr />
        <p>
          Vizyon ve Misyon ozbayiletisim.com sitesi, müşterine hizmet etmenin
          mutluluğu ile çalışmalarından ödün vermeksizin, her daim daha iyi
          hizmet ve kaliteyi sunmayı hedeflemekte olan bir firmadır. Cep
          telefonu aksesuarlarından ev yaşam ürünlerine kadar binlerce ürünlük
          geniş skalasıyla 10 yılı aşkın süredir müşterilerinin ihtiyaçlarına
          cevap vermekten memnuniyet duymaktadır. Akla gelebilecek her türlü
          aksesuar ve elektronik ürünleri stoklarında barındırarak,
          müşterilerine hızlı, güvenilir ve kaliteli bir hizmet sunabilmek
          firmanın öncelikli amaçlarındandır. Türkiye'de aksesuar ve elektronik
          marketi olarak giderek büyüyen bir yapıya sahiptir. ozbayiletisim.com
          20000'den fazla ürün çeşidiyle, müşterilerine dönemin son moda
          trendlerine uygun tüm ürünlerini kaliteli ürün ve hizmet anlayışıyla
          donatılmış bir misyon içerisinde hazırlayıp sunmaktadır.
          ozbayiletisim.com site bünyesinde sunduğu ürünlerin % 90'a varan geniş
          bir aralığını stoklarında bulundurmakta, bu sayede firma müşterilerine
          en hızlı ve en güvenilir hizmeti sunabilmenin haklı gururunu
          yaşamaktadır. 2011 yılında kurulmuş olan Özbay İletişim bilişim
          teknolojileri, bu alanda hizmet vermeyi bir onur ve gurur saymaktadır.
          Müşterilerine hizmet etmenin verdiği memnuniyet ile müşteri
          memnuniyetini en yüksek seviyelerde tutabilme hedefiyle çalışmalarını
          sürdürmektedir. Firma, müşterilerinin ihtiyaçlarını göz önünde
          bulundurarak, aksesuar ve elektronik alanında en kaliteli ürün
          portföyünü sunma hedefiyle bugünlere ulaşmıştır. Alt yapısını ve
          uzmanlığını 2006 yılından bu yana Türkiye'nin lider cep telefonu yedek
          parça ve aksesuar tedarikçisi olan Allymobile'dan sağlamakta olan
          ozbayiletisim.com firması, kaliteden ödün vemeksizin çalışmalarına
          devam etmeyi vizyon edinmiştir.
        </p>
        <h5>Kapsamlı Ürün Hatları</h5>
        <hr />
        <p>
          ozbayiletisim.com sahip olduğu 20000'den fazla ürün çeşidiyle,
          müşterilerine en geniş ürün portföyünü sunabilmek adına 7 gün 24 saat
          çalışmalarına devam etmektedir. Günümüz dünyasına uygun en son moda
          ürün çeşitleri, sayısız marka ve model ürünler, müşterilerin
          ihtiyaçları doğrultusunda her gün yeniden geliştirilmekte,
          güncellenmekte olan aksesuar ve elektronik listesiyle, teknolojinin
          gereklerini müşterilerinin ayağına getirmektedir.
        </p>

        <h5>En İyi Kalite</h5>
        <hr />
        <p>
          ozbayiletisim.com sitesi kapsamında hizmete sunulmuş ürünler, kalitesi
          test edilmiş, sorunsuz ürünlerdir. Bünyesinde yer alan çoğu aksesuar
          ve elektronik ürününü garanti kapsamına alarak da müşterilerine bu
          kalitenin derecesini sunma isteğiyle çalışır. Ürünler müşterilere
          gönderilmeden önce, ürünün kalitesi, herhangi bir problem içermediği
          test edilerek kullanıcıya gönderilir. Bu durum, firmanın müşteri
          memnuniyetine verdiği önem ve hassasiyetle ilişkilidir.
        </p>
        <h5>En Düşük Fiyat</h5>
        <hr />
        <p>
          2011 yılında kurulmasına rağmen, çok daha önceden bu yana sektörün
          içerisinde yer almakta olan ozbayiletisim.com firması, sektörde yer
          alan her ürün hakkında detaylı ürün incelemesinde bulunarak,
          fiyatların belirlenmesinde son derece hassastır. Tecrübesi ve müşteri
          memnuniyetine, güvenine duyduğu hassasiyet ile müşterilerine en uygun
          fiyat garantisiyle ürün satışını gerçekleştirebilmek adına çalışmalar
          sergiler. Bu amaçla pek çok markanın yetkili distrübitörü olmakta, öte
          yandan gelişmiş tedarik zinciri sayesinde en kaliteli ürünü en düşük
          fiyatla müşterilerine sunabilmektedir.
        </p>
        <h5>Müşteri Hizmetleri</h5>
        <hr />
        <p>
          Müşterilerine danışmanlık hizmeti sunup, merak ettikleri konularda
          bilgi desteği sunabilmek adına canlı destek hatları ile ürün
          alımlarından önce ya da sonra gerekli ilgi ve alakanın gösterilmesine
          önem verir. Ürün hakkındaki sorular, kargo, depolama işlemleri, ürünün
          test süreçleri hakkındaki bilgilerin edinilebilmesi için, müşterilerin
          daha huzurla ve içleri rahat ederek alışveriş yapabilmesini sağlamak
          adına gerekli tüm hizmeti sunabilmek hedeflenmektedir.
        </p>
        <h5>Hızlı ve Güvenli Teslimat</h5>
        <hr />
        <p>
          ozbayiletisim.com firması bünyesinde sunulan ürünlerin % 90'ı
          stoklarda bulundurulmaktadır. Bu işlemin amacı ise müşterilerin
          talepleri doğrultusunda zaman kaybı yaşanmaksızın, ürünü müşterinin
          eline en kısa zaman içerisinde ulaşmasını sağlamaktır. Günümüz
          dünyasında zamanın ne kadar önemli olduğunun bilincinde olan
          ozbayiletisim.com firması, bu konuda müşterilerine sorunsuz ve hızlı
          ürün ulaştırılması konusunda son derece hassastır. Ürün siparişinin
          akabinde 1-3 gün içerisinde ürün müşterilere ulaşacaktır.
        </p>
        <h5>ozbayiletisim.com Kültür</h5>
        <hr />
        <p>
          Müşterilerine en iyi hizmeti sunmayı hedefleyerek, aralıksız
          çalışmakta olan firma, vizyon ve misyonlarına gönülden bağlı, kaliteli
          hizmet anlayışıyla çalışmalarını sürdüren yenilikçi bir firmadır.
          Sektöre bakış açısı, müşterilerinin duyduğu güven ve her daim daha
          iyiye yönelme arzusuyla ozbayiletisim.com firması, bilişim ve
          teknoloji sektöründe, yerini ve hedeflerini her daim bilen bir firma
          olmuştur.
        </p>
      </div>
    </div>
  </div>
</section>
<hr />
<section id="contact" class="p-5" style="margin-bottom: 100px">
  <div class="container">
    <h2 class="mt-5">İletişim</h2>
    <div class="row">
      <div class="col-md-7">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >İsim Soyisim</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="">Mesajınız</label>
            <textarea
              name=""
              class="form-control"
              id=""
              cols="20"
              rows="5 "
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
      </div>
      <div class="col-md-5">
        <img
          src="https://www.safakkeklik.com/images/content/J6728L2.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<hr />
<section id="private" class="mt-5">
  <div class="container">
    <h2 class="mt-5">Şartlar Ve Koşullar</h2>
    <div class="row">
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eaque
          eos assumenda sed minus distinctio molestias cupiditate id quia
          asperiores pariatur sint similique, voluptatum quam tempora
          dignissimos doloribus repellendus repudiandae fugit mollitia fuga,
          velit officia! Ipsa reiciendis ex consectetur id cumque veniam
          temporibus quod enim quos quasi aliquam possimus voluptatem ut illum
          debitis quae, quisquam architecto ratione dignissimos, at iure
          mollitia placeat. Inventore amet quisquam eveniet perspiciatis laborum
          perferendis rem tenetur dicta reprehenderit rerum. Optio, delectus.
          Repudiandae excepturi nobis quod optio earum. Eligendi consequatur
          repellendus saepe, impedit vero dolores molestiae dolor quisquam odit
          fuga aperiam architecto eum consequuntur, voluptatibus voluptatum
          iusto consectetur aliquid. Beatae laborum cum neque at rem!
          Exercitationem cum, eaque voluptatum quam, eligendi aperiam voluptas
          quas ea animi, facilis assumenda! Nesciunt consequuntur deserunt porro
          repellendus ipsa doloribus, deleniti optio dicta quae architecto,
          neque veritatis quidem incidunt reprehenderit, ducimus illo animi
          vitae quam. Amet, ex. Voluptatibus, maiores. Odit architecto
          blanditiis quo facere corrupti veniam, nesciunt unde mollitia dolorum
          deserunt natus voluptatem? Cum corporis vel architecto distinctio
          fugiat adipisci. Sit harum repellendus vero laboriosam voluptas,
          aliquam inventore corrupti iusto ipsa a sapiente ullam. Aspernatur,
          ipsum pariatur consequatur ex expedita incidunt quae a recusandae
          atque sed sit nisi quis esse sequi. Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Amet, doloremque.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eaque
          eos assumenda sed minus distinctio molestias cupiditate id quia
          asperiores pariatur sint similique, voluptatum quam tempora
          dignissimos doloribus repellendus repudiandae fugit mollitia fuga,
          velit officia! Ipsa reiciendis ex consectetur id cumque veniam
          temporibus quod enim quos quasi aliquam possimus voluptatem ut illum
          debitis quae, quisquam architecto ratione dignissimos, at iure
          mollitia placeat. Inventore amet quisquam eveniet perspiciatis laborum
          perferendis rem tenetur dicta reprehenderit rerum. Optio, delectus.
          Repudiandae excepturi nobis quod optio earum. Eligendi consequatur
          repellendus saepe, impedit vero dolores molestiae dolor quisquam odit
          fuga aperiam architecto eum consequuntur, voluptatibus voluptatum
          iusto consectetur aliquid. Beatae laborum cum neque at rem!
          Exercitationem cum, eaque voluptatum quam, eligendi aperiam voluptas
          quas ea animi, facilis assumenda!
        </p>
      </div>
      <div class="col-md-4">resim</div>
    </div>
  </div>
</section>
<hr />
<section id="private2" class="mt-5">
  <div class="container">
    <h2 class="mt-5">Gizlilik Politikaları</h2>
    <div class="row">
      <div class="col-md-4">resim</div>
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eaque
          eos assumenda sed minus distinctio molestias cupiditate id quia
          asperiores pariatur sint similique, voluptatum quam tempora
          dignissimos doloribus repellendus repudiandae fugit mollitia fuga,
          velit officia! Ipsa reiciendis ex consectetur id cumque veniam
          temporibus quod enim quos quasi aliquam possimus voluptatem ut illum
          debitis quae, quisquam architecto ratione dignissimos, at iure
          mollitia placeat. Inventore amet quisquam eveniet perspiciatis laborum
          perferendis rem tenetur dicta reprehenderit rerum. Optio, delectus.
          Repudiandae excepturi nobis quod optio earum. Eligendi consequatur
          repellendus saepe, impedit vero dolores molestiae dolor quisquam odit
          fuga aperiam architecto eum consequuntur, voluptatibus voluptatum
          iusto consectetur aliquid. Beatae laborum cum neque at rem!
          Exercitationem cum, eaque voluptatum quam, eligendi aperiam voluptas
          quas ea animi, facilis assumenda! Nesciunt consequuntur deserunt porro
          repellendus ipsa doloribus, deleniti optio dicta quae architecto,
          neque veritatis quidem incidunt reprehenderit, ducimus illo animi
          vitae quam. Amet, ex. Voluptatibus, maiores. Odit architecto
          blanditiis quo facere corrupti veniam, nesciunt unde mollitia dolorum
          deserunt natus voluptatem? Cum corporis vel architecto distinctio
          fugiat adipisci. Sit harum repellendus vero laboriosam voluptas,
          aliquam inventore corrupti iusto ipsa a sapiente ullam. Aspernatur,
          ipsum pariatur consequatur ex expedita incidunt quae a recusandae
          atque sed sit nisi quis esse sequi. Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Amet, doloremque.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eaque
          eos assumenda sed minus distinctio molestias cupiditate id quia
          asperiores pariatur sint similique, voluptatum quam tempora
          dignissimos doloribus repellendus repudiandae fugit mollitia fuga,
          velit officia! Ipsa reiciendis ex consectetur id cumque veniam
          temporibus quod enim quos quasi aliquam possimus voluptatem ut illum
          debitis quae, quisquam architecto ratione dignissimos, at iure
          mollitia placeat. Inventore amet quisquam eveniet perspiciatis laborum
          perferendis rem tenetur dicta reprehenderit rerum. Optio, delectus.
          Repudiandae excepturi nobis quod optio earum. Eligendi consequatur
          repellendus saepe, impedit vero dolores molestiae dolor quisquam odit
          fuga aperiam architecto eum consequuntur, voluptatibus voluptatum
          iusto consectetur aliquid. Beatae laborum cum neque at rem!
          Exercitationem cum, eaque voluptatum quam, eligendi aperiam voluptas
          quas ea animi, facilis assumenda!
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
