<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12"><app-products></app-products></div>
    <!-- <div class="col-md-2">
      <h3>Yeni Ürünler</h3>
      <img
        src="https://cdn.akilliphone.com/img/2022-12/12/Banner-Mobil-182%20(1).png"
        alt=""
        class="w-100"
      />
    </div> -->
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3 hover">
        <img
          src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2063.png"
          alt=""
          style="width: 300px; height: 230px"
          class="rounded-3"
        />
      </div>
      <div class="col-md-3 hover">
        <img
          src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2064.png"
          alt=""
          style="width: 300px; height: 230px"
          class="rounded-3"
        />
      </div>
      <div class="col-md-3 hover">
        <img
          src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2065.png"
          alt=""
          style="width: 300px; height: 230px"
          class="rounded-3"
        />
      </div>
      <div class="col-md-3 hover">
        <img
          src="https://cdn.akilliphone.com/img/2023-01/02/Artboard%20%E2%80%93%2071.png"
          alt=""
          style="width: 300px; height: 230px"
          class="rounded-3"
        />
      </div>
    </div>
  </div>
</div>
